{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Acknowledgements</h1>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-6">
      <ol>
        <li>Researcher: Wolfgang</li>
        <li>Graphic Design: Wolfgang</li>
        <li>Web Designer: Wolfgang</li>
        <li>Maker: Wolfgang</li>
        <li>Teacher: Mr Jones</li>
      </ol>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <h1>Sources</h1>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-6">
      <ol>
        <li>Britannica</li>
        <li>Wikipedia</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}